.habs {
    margin: 20px 0;
}
.habs h2 {
    text-align: center;
    margin-bottom: 15px;
}

.habs h3::before{
    display: inline-block;
    width: 0.5rem;
    background-color: #a89fe988;
    margin-right: 1rem;
    content: " ";

}

.habs ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: .75rem;
    list-style: none;
    padding: 5px 20px 30px 20px;
    /* padding-bottom: 30px; */
    overflow-x: auto;
    max-width: 200vw;
}  
.habs ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 1px solid #8888;
    border-radius: 10px;
    width: 80px;
    height: 70px;
    text-align: center;
    overflow-wrap: break-word; /* reemplazo de textWrap */
}  
.habs .tec{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    width: 80px;
}
.habs .tec i {
    font-size: 2.5rem;
}

.habs ul li:hover{
    box-shadow: 0 0 10px #a89fe9;
}
.habs ul li>a:active{
    box-shadow: 0 0 10px #a89fe977;
    text-shadow: 2px 2px 5px gray;
}

