.servicios{
    text-align: center;
    margin: 20px 0;
}
.servicios article{
    margin: 1rem auto;
    padding: 15px;
    border: 1px solid #8888;
    border-radius: 10px;
}
.servicios article:hover{
    box-shadow: 0 0 10px #a89fe9;
}


.servicios h3::before{
    display: inline-block;
    width: 0.5rem;
    background-color: #a89fe988;
    margin-right: 1rem;
    content: " ";
}
.servicios p {
    white-space: pre-wrap;
    font-size: 1rem;
}