/* nav */
.celular{
    display: none;
}
.pc{
    display: inline-block;
    transition: opacity .3s ease;
    will-change: opacity;
}

header{
    background-color: #DDDDDDCC;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    width: 80vw;
    padding: 20px 0;
    height: 20px;
    top: 0;
    left: 10vw;
    z-index: 1000;
}
nav{
    display: flex;
    flex-grow: 1; 
    width: 100%;
    align-items: center;
}
nav ul{
    width: 90%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    gap: 20px;
}
nav li a {
    padding: 5px;
}
nav li a:hover {
    font-weight: bold;
}

nav button{
    width: 30px;
    height: 30px;
    flex-grow: 0;
    margin: auto; 
    cursor: pointer;
    background-color: transparent;
    will-change: background-color, border-color;
}
nav .btn-theme-switch{
    border-radius: 50%;
    border-style: solid;
    border-color: #ccc;
    background-color: #223;
    transition: background-color 1s ease-in-out, border-color 1s ease-in-out;
}
nav button img{    
    width: 100%;
    height: 100%;
}


.dark .fa-brands,.dark .fa-solid{
    color: white;
}



/* @media (prefers-color-scheme: dark){ */

    /* .dark nav button {
    } */
    .dark nav .btn-theme-switch {    
        border-color: #223;
        background-color: #ccc;
    }

/* } */


@media screen and (max-width: 800px) {
    
    nav ul{
        max-height: 205px;
        gap: 0;
        transition: max-height .75s ease, gap .5s ease;
        will-change: max-height, gap;
    }
    nav ul.expand{
        max-height: 100vh;
        gap: 20px;
    }
    .pc{
        visibility: hidden; 
        opacity: 0;
        max-height: 0;
        transition: visibility .5s ease, opacity .5s ease, max-height .75s ease;
        will-change: visibility, opacity, max-height;
    }
    .celular{
        display: inline-block;
    }
    .pc.visible{
        display: inline-block;
        opacity: 1;
        visibility: visible;
        max-height: 10vh;
    }
    header{
        width: 100%;
        left: 0;
        font-size: clamp(16px,4vh,35px);  
        height: auto;
    }
    nav ul{
        flex-direction: column;
    }
    nav button{
        margin-top: 0;
    }

    


}